@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch */

.card-price{
    height: 55vh;
}
.cards-price {
    height: 60vh;
}
.box-px{
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
}
@media (min-width: 640px) {
    .box-px {
        padding-left: 4rem/* 64px */;
        padding-right: 4rem/* 64px */;
    }
}